body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: #333;
    color: white;
}

nav {
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-item {
    margin-right: 20px;
    border-radius: 10px;
}

.nav-item a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 10px;
}

.nav-item a:hover {
    background-color: #111;
    color: white;
}

button {
    background-color: brown;
    color: white;
    text-decoration: solid;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
}

button:hover {
    background-color: #777;
}
